@model UtilityBookingSystem.Models.BigViewModel
@{
    ViewBag.Title = "ViewApplication";
}

<h2>ViewApplication</h2>

<table class="table table-hover">
    @foreach (var item in ViewBag.userDetails)
    {
        <tr>
            <td>Booked By: </td>
            <td>@item.name</td>
        </tr>
        <tr>
            <td>Department</td>
            <td>@item.dept</td>
        </tr>
    }
</table>