@model UtilityBookingSystem.Models.BigViewModel
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<form method="post">
    @Html.TextBoxFor(model => model.bookedDate.dateChosen, new { @id = "datechosen", @onchange = "dateChosen();", @type = "date" })
    <table id="hallsCheckbox" class="table table-bordered">
        <tbody></tbody>
    </table>
    @*<table id="requirementsCheckbox">
        <tbody></tbody>
    </table>
    <table id="slotsCheckbox">
        <tbody></tbody>
    </table>*@
    <button id="btnSubmit" onclick="SubmitForm();">Submit</button>
</form>

<script type="text/javascript">
    //Displays Halls
    var dateChosen = function () {
        $("#hallsCheckbox tbody tr").remove();
        //$("#requirementsCheckbox tbody tr").remove();
        //$("#slotsCheckbox tbody tr").remove();
        $.ajax({
            type: "POST",
            dataType: 'JSON',
            url: "/BookUtility/GetHallsList",
            success: function (hallsList) {
                var item = '';
                $.each(hallsList, function (i, item) {
                    var rows = "<tr id=\"rowHall" + item.hallID + "\">"
                                    + "<td><input type=\"checkbox\" id=\"hall" + item.hallID + "\" name=\"halls\" value=\"" + item.hallID + "\" onchange= \"hallSelected(" + item.hallID + ");\">" + item.hallName + "</td>"
                                + "</tr>"+"<tr id=\"rowforslots"+item.hallID+"\"><td></td></tr>";
                    $('#hallsCheckbox').append(rows);
                });
            },
            error: function (xhr, status, exception) {
                console.log("Error: " + exception + ", Status: " + status);
            }
        });
    }
    //Displays Requirements
    var hallSelected = function (hallID) {
        var checkboxID = "#hall" + hallID;
        var noOfRows = 0;
        if ($(checkboxID).prop('checked')) {
            var data = hallID;
            $.ajax({
                type: "POST",
                dataType: "JSON",
                data: { hallID: data },
                url: "/BookUtility/GetRequirementsList",
                success: function (requirementsList) {
                    $.each(requirementsList, function (i, requirementItem) {
                        var requirementsRows = "<td class=\"reqHall" + hallID + "\"><input type=\"checkbox\" name=\"requirements\" value=\"" + requirementItem.reqHallID + "\">" + requirementItem.requirementName + "</td>"
                        $('#rowHall' + hallID).append(requirementsRows);
                    });
                },
                error: function (xhr, status, exception) {
                    console.log("Error: " + exception + ", Status: " + status);
                }
            });
            selectSlot(hallID);
        }
        else {
            $(".reqHall" + hallID).remove();
            $(".slotHall" + hallID).remove();
        }
    }
    //Displays Slots
    var selectSlot = function (hallID) {
        var date = document.getElementById("datechosen").value;
        var data = {
            'hallID': hallID,
            'date': date
        };
        $.ajax({
            type: "POST",
            dataType: "JSON",
            data: data,
            url: "/BookUtility/GetAllSlotsList",
            success: function (allSlotsList) {
                var slotsItem = '';
                $.each(allSlotsList, function (i, slotsItem) {
                    //if (slotsItem.isChecked == false) {
                        var slotsRows ="<td class=\"slotHall"+hallID+"\"><input type=\"checkbox\" id=\"slot"+slotsItem.slotID+"\" name=\"slots\" value=\"" + slotsItem.slotID + "\">" + slotsItem.slot + "</td>";
                        $('#rowforslots'+hallID).append(slotsRows);
                    //}
                });
                getBookedSlots(hallID,date);
            },
            error: function (xhr, status, exception) {
                console.log("Error: " + exception + ", Status: " + status);
            }
        });
    }
    var getBookedSlots = function (hallID, date) {
        var data = {
            'hallID': hallID,
            'date': date
        };
        $.ajax({
            type: "POST",
            dataType: "JSON",
            data: data,
            url: "/BookUtility/GetBookedSlotsList",
            success: function (bookedSlotsList) {
                var bookedSlotsItem = '';
                $.each(bookedSlotsList, function (i, bookedSlotsItem) {
                   // if (bookedSlotsItem.isChecked == false) {
                        $("#slot" + bookedSlotsItem.slotID).prop("disabled",true);
                    //}
                });
            }
        });
    }

    var SubmitForm = function () {
        var hallsArray = [];
        var requirementsArray = [];
        var slotsArray = [];
        var date = document.getElementById("datechosen").value;
        $.each($("input[name='halls']:checked"), function () {
            hallsArray.push($(this).val());
        });
        $.each($("input[name='requirements']:checked"), function () {
            requirementsArray.push($(this).val());
        });
        $.each($("input[name='slots']:checked"), function () {
            slotsArray.push($(this).val());
        });
        var data = {
            'hallsArray': hallsArray,
            'requirementsArray': requirementsArray,
            'slotsArray': slotsArray,
            'date': date
        };
        $.ajax({
            type: "POST",
            dataType: "JSON",
            data: data,
            url: "/BookUtility/Index",
            success: function (response) {
                alert("Done");
            }
        })
    }
</script>

