@model UtilityBookingSystem.Models.BigViewModel
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<form method="post">
    @Html.TextBoxFor(model => model.bookedDate.dateChosen, new { @id = "datechosen", @onchange = "dateChosen();", @type = "date" })
    <table id="hallsCheckbox">
        <tbody></tbody>
    </table>
    <table id="requirementsCheckbox">
        <tbody></tbody>
    </table>
    <table id="slotsCheckbox">
        <tbody></tbody>
    </table>
    <button id="btnSubmit" onclick="SubmitForm();">Submit</button>
</form>

<script type="text/javascript">
    //Displays Halls
    var dateChosen = function () {
        $("#hallsCheckbox tbody tr").remove();
        $("#requirementsCheckbox tbody tr").remove();
        $("#slotsCheckbox tbody tr").remove();
        $.ajax({
                    type: "POST",
                    dataType: 'JSON',
                    url: "/BookUtility/GetHallsList",
                    success: function (hallsList) {
                        var item = '';
                        $.each(hallsList, function (i, item) {
                            var rows = "<tr>"
                                            + "<td><input type=\"checkbox\" id=\"hall"+item.hallID+"\" name=\"halls\" value=\"" + item.hallID + "\" onchange= \"hallSelected("+item.hallID+");\">"+item.hallName+"</td>"
                                        + "</tr>";
                            $('#hallsCheckbox').append(rows);
                        });
                    },
                    error: function (xhr,status, exception) {
                        console.log("Error: " + exception + ", Status: " + status);
                    }
                });
    }
    //Displays Requirements
    var hallSelected = function (hallID) {
        var checkboxID = "#hall" + hallID;
        var noOfRows = 0;
        //$.each($("input[name='halls']:checked"), function () {
        if ($(checkboxID).prop('checked')) {
            //var displayResources = function () {
            var data = hallID;
            $.ajax({
                type: "POST",
                dataType: "JSON",
                data: { hallID: data },
                url: "/BookUtility/GetRequirementsList",
                success: function (requirementsList) {
                    $.each(requirementsList, function (i, requirementItem) {
                        var requirementsRows = "<tr id=\"rowRequirement" + hallID + "_" + i + "\">"
                                                    + "<td><input type=\"checkbox\" name=\"requirements\" value=\"" + requirementItem.reqHallID + "\">" + requirementItem.requirementName + "</td>"
                                               + "</tr>";
                        $('#requirementsCheckbox').append(requirementsRows);
                    });
                },
                error: function (xhr, status, exception) {
                    console.log("Error: " + exception + ", Status: " + status);
                }
            });
            selectSlot(hallID);
            //});
        }
        else {
            //somehow I need number of resource and slot  checkboxes for each hall
            for (j = 0; j < noOfRows; j++) {
                $("#rowRequirement" + hallID).remove();
                //code to remove slots and resources checkboxes on unchecking a hall
            }
        }
    }
    //}
    //Displays Slots
    var selectSlot = function (hallID) {
        var date = document.getElementById("datechosen").value;
        var data = {
            'hallID': hallID,
            'date': date
        };
        $.ajax({
            type: "POST",
            dataType: "JSON",
            data: data,
            url: "/BookUtility/GetSlotsList",
            success: function (slotsList) {
                var slotsItem = '';
                $.each(slotsList, function (i, slotsItem) {
                    if (slotsItem.isChecked == false) {
                        var slotsRows = "<tr>"
                                             + "<td><input type=\"checkbox\" name=\"slots\" value=\"" + slotsItem.slotID + "\" disabled>" + slotsItem.slot + "</td>"
                                         + "</tr>";
                        $('#slotsCheckbox').append(slotsRows);
                    }
                });
            },
            error: function (xhr, status, exception) {
                console.log("Error: " + exception + ", Status: " + status);
            }            
        });
    }

    var SubmitForm = function () {
        var hallsArray = [];
        var requirementsArray = [];
        var slotsArray = [];
        var date = document.getElementById("datechosen").value;
        $.each($("input[name='halls']:checked"), function () {
            hallsArray.push($(this).val());
        });
        $.each($("input[name='requirements']:checked"), function () {
            requirementsArray.push($(this).val());
        });
        $.each($("input[name='slots']:checked"), function () {
            slotsArray.push($(this).val());
        });
    }
</script>

