@model UtilityBookingSystem.Models.BigViewModel
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
@using (Html.BeginForm("Index", "BookUtility", FormMethod.Post))
{
    @Html.TextBoxFor(model => model.bookedDate.dateChosen, new { @id = "datechosen", @onchange = "dateChosen();", @type = "date" })
    <table id="hallsCheckbox">
        <tbody>
        </tbody>
        <tbody></tbody>
    </table>
    <table id="requirementsCheckbox">
        <tbody></tbody>
        <tbody></tbody>
    </table>
    <button id="btnSubmit">Submit</button>
}
<script type="text/javascript">
    //Correct code. Take reference
    //var dateChosen = function () {
    //    debugger
    //    //var data = document.getElementById("datechosen").value;
    //    $.ajax({
    //        type: "POST",
    //        //data: { date: data },
    //        dataType: 'JSON',
    //        url: "/BookUtility/GetHallsList",
    //        success: function (hallsList) {
    //            debugger;
    //            console.log(hallsList[0].hallName);
    //        },
    //        error: function (xhr,status, exception) {
    //            debugger;
    //            console.log("Error: " + exception + ", Status: " + status);
    //        }
    //    });
    //}

    var dateChosen = function () {
        $("#hallsCheckbox tbody tr").remove();

        $.ajax({
                    type: "POST",
                    dataType: 'JSON',
                    url: "/BookUtility/GetHallsList",
                    success: function (hallsList) {
                        var item = '';
                        $.each(hallsList, function (i, item) {
                            var rows = "<tr>"
                                            + "<td><input type=\"checkbox\" name=\"halls\" value=\"" + item.hallID + "\" onchange= \"hallSelected("+item.hallID+");\">"+item.hallName+"</td>"
                                        + "</tr>";
                            $('#hallsCheckbox').append(rows);
                        });
                    },
                    error: function (xhr,status, exception) {
                        console.log("Error: " + exception + ", Status: " + status);
                    }
                });
    }
    var hallSelected = function (hallID) {
        var data = hallID;
        $.ajax({
            type: "POST",
            dataType: "JSON",
            data: { hallID: data },
            url: "/BookUtility/GetRequirementsList",
            success: function (requirementsList) {
                var requirementItem = '';
                $.each(requirementsList, function (i, requirementItem) {
                    var requirementsRows = "<tr>"
                                                + "<td><input type=\"checkbox\" name=\"requirements\" value=\"" + requirementItem.requirementID + "\">" + requirementItem.requirementName + "</td>"
                                           + "</tr>";
                    $('#requirementsCheckbox').append(requirementsRows);
                });
            },
            error: function (xhr, status, exception) {
                console.log("Error: " + exception + ", Status: " + status);
            }
        });
        selectSlot(hallID);
    }
    var selectSlot = function (hallID) {
        var date = document.getElementById("datechosen").value;
        var data = {
            'hallID': hallID,
            'date': date
        };
        $.ajax({
            type: "POST",
            dataType: "JSON",
            data: data,
            url: "/BookUtility/GetSlotsList",
            success: function (slotsList) {

            }
        });
    }
</script>

